@model List<ProductDTO>


<div class="owl-carousel vegetable-carousel justify-content-center">

    @foreach (var recommendedProduct in Model)
    {
        <div class="border border-primary rounded position-relative vesitable-item">
            <form id="frmAddProductToCart_@recommendedProduct.ProductId" asp-action="Upsert" asp-controller="Cart" hidden>
                <input hidden name="ProductId" value="@recommendedProduct.ProductId" />
                <input hidden name="Quantity" value="1" />
            </form>

            <div class="vesitable-img">
                <a asp-action="Detail" asp-controller="Product" asp-route-id="@recommendedProduct.ProductId">
                    <img src="@recommendedProduct.ImageUrl" class="img-fluid w-100 rounded-top h-250" alt="image not found!" />
                </a>
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
                @recommendedProduct.CategoryName
            </div>
            <div class="p-4 rounded-bottom">
                <h4>
                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@recommendedProduct.ProductId">
                        @recommendedProduct.Name
                    </a>
                </h4>
                <p class="show-2-lines">@recommendedProduct.Description</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">@recommendedProduct.Price.ToString("c")</p>
                    <button class="btn border border-secondary rounded-pill px-3 text-primary btnAddToCart" product-id="@recommendedProduct.ProductId">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                    </button>
                </div>
            </div>
        </div>
    }
</div>