@using MT.Web.Utility
@model List<ProductDTO>?

@{
    var pageTitle = "Products";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Home", PageName = "Home" });
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Product", PageName = pageTitle, IsCurrentPage = true });
}

<partial name="_PageHeader" model="@pageHeader" />

<!-- Content Start -->
<div class="container-fluid py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <a asp-action="Create" asp-controller="Product" class="btn border border-secondary rounded-pill px-3 text-primary float-end">
                    <i class="fa fa-plus me-2 text-primary"></i> Create Product
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-left">
                    <thead class="text-dark bg-light">
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col" width="200">Name</th>
                            <th scope="col" width="200">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col" width="100">Price</th>
                            <th scope="col" width="80"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model is not null && Model.Count > 0)
                        {
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="@product.ImageUrl" class="img-center img-fluid me-5 rounded-circle"
                                                 style="width:200px; height:100px;" alt="image not found!">
                                        </div>
                                    </th>
                                    <td>
                                        <p class="mb-0 mt-4">
                                            <a asp-action="Edit" asp-controller="Product" asp-route-id="@product.ProductId"
                                               title="Click to edit">@product.Name</a>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@product.CategoryName</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4 show-2-lines">@product.Description</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@product.Price.ToString("c")</p>
                                    </td>
                                    <td>
                                        <a class="btn btn-md rounded-circle bg-light border mt-4"
                                           asp-action="Delete" asp-controller="Product" asp-route-id="@product.ProductId">
                                            <i class="fa fa-times text-danger"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <p class="mb-0">No products found!</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
